<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-white font-bold text-xl">
            <a href="">Mes exercices</a>
        </div>

        <ul class="flex space-x-4">
            <li>
                <a routerLink="/" class="text-gray-300 font-semibold hover:text-white">Compteur</a>
            </li>
            <li>
                <a routerLink="/series" class="text-gray-300 font-semibold hover:text-white">Séries</a>
            </li>
            <li>
                <a routerLink="/library" class="text-gray-300 font-semibold hover:text-white">Librairie</a>
            </li>
            <li>
                <a routerLink="/pokemon" class="text-gray-300 font-semibold hover:text-white">Pokemon</a>
            </li>
            <li>
                <a routerLink="/chuck" class="text-gray-300 font-semibold hover:text-white">Chuck Norris</a>
            </li>
        </ul>
    </div>
</nav>
